html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
  /* background-color: #242424; */
}

.topspacing {
  height: fit-content;
  width: 20%;
  margin-top: 50px;
}

.trailpicture {
  width: fit-content;
  height: fit-content;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #242424;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.container7 {
  height: fit-content;
  width: 100vw;
  background-color: #fff;
  display: grid;
  grid-template-columns: 0.3fr 0.9fr 0.9fr 0.9fr 0.3fr;
  grid-template-rows: 0.6fr 1.8fr 0.6fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "title7 title7 title7 title7 title7"
    ". pic71 pic72 pic73 ."
    ". . part7button . .";
}

.title7 {
  grid-area: title7;
  color: #15212b;
  padding-left: 6.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.picture-71 {
  grid-area: pic71;
}

.picture-72 {
  grid-area: pic72;
}

.picture-73 {
  grid-area: pic73;
}

.part7button {
  grid-area: part7button;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #15212b;
}

.imgm {
  grid-area: imgm;
  background-image: url("img_malte/trail.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 3rem;
}

.footercontainer {
  height: fit-content;
  width: 100vw;
  background-color: #fff;
  border-bottom: 20px solid #00c5e1;
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  grid-template-rows: 0.3fr 1fr 0.08fr;
  gap: 0px 0px;
  grid-template-areas:
    ". ."
    "abouttext aboutlinks"
    ". .";
}

.abouttext {
  grid-area: abouttext;
  padding-left: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.aboutlinks {
  grid-area: aboutlinks;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.colorbar {
  grid-area: colorbar;
}

.carddescription {
  padding-left: 3rem;
  padding-right: 4rem;
}

.test {
  height: 500px;
}

#part7 {
  background-color: transparent;
  border: 1px solid #00cde5;
  padding: 5px 3rem 5px 3rem;
  color: #15212b;
  font-family: "Roboto Slab", serif;
}

#part7:hover {
  background-color: #00cde5;
}

#textnormal {
  font-weight: normal;
}

#picsmall {
  width: 100%;
  height: auto;
}

#caps {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-weight: bolder;
  font-size: 3rem;
  margin-left: 1rem;
}

.carddescription h2 {
  font-size: 1.6rem;
}

.carddescription p {
  font-size: 1.1rem;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #b39db6;
  margin: 1em 0;
  padding: 0;
}

nav ul {
  list-style: none;
  padding-left: 0;
  margin-top: 2em;
}

nav ul li {
  line-height: 1.6rem;
}

nav ul li a {
  text-decoration: none;
  color: #15212b;
}

.top-nav-link {
  color: ghostwhite
}

.section7-subtittle {}

@media (max-width: 1400px) {
  #caps {
    font-size: 2.5rem;
  }
}

@media (max-width: 1200px) {
  .abouttext {
    padding-left: 8rem;
  }

  #caps {
    font-size: 2.3rem;
  }

  .carddescription h2 {
    font-size: 1.4rem;
  }

  .carddescription p {
    font-size: 1rem;
  }
}

@media (max-width: 990px) {
  .container7 {
    grid-template-columns: 0.15fr 1.2fr 0.15fr;
    grid-template-rows: 0.3fr 1fr 1fr 1fr 0.2fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "title7 title7 title7"
      ". pic71 ."
      ". pic72 ."
      ". pic73 ."
      ". part7button .";
  }

  #logosmall {
    width: 10rem;
  }

  .pic71 {
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .pic72 {
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .pic73 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .part7button {
    margin-bottom: 2rem;
  }

  .carddescription {
    width: 72%;
  }

  .footercontainer {
    width: 80vw;
    background-color: #fff;
    border-right: none;
    border-bottom: 20px solid #00c5e1;
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.2fr;
    grid-template-rows: 0.15fr 0.8fr 0.08fr;
    gap: 0px 0px;
    grid-template-areas:
      ". . ."
      ". abouttext ."
      ". aboutlinks .";
  }

  .abouttext {
    grid-area: abouttext;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .aboutlinks {
    grid-area: aboutlinks;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
  }

  .colorbar {
    grid-area: colorbar;
  }
}